pipeline/demo_4_databricks.json
{
	"name": "demo_4_databricks",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "list_files",
					"value": [
						"species",
						"starships"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('list_files')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/Demo- ADF: Clase 8 Conexión al datalake",
								"baseParameters": {
									"file_name": {
										"value": "@concat(item(),'_', utcnow('dd-MM-yyyy'))",
										"type": "Expression"
									},
									"year_file": {
										"value": "@utcNow('yyyy')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks_demo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Notebook2",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Notebook1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Shared/Demo- ADF: Clase 8 Conexión al datalake",
								"baseParameters": {
									"entrada": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks_demo",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"list_files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "demo/Databricks"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-12T15:24:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}