pipeline/LOAD_TABLE_NAMES_PDF.json
{
	"name": "LOAD_TABLE_NAMES_PDF",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Table_Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT' and TABLE_NAME <> 'ProductModel'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dataset_AdvWorks_PDF",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Launch_Raw_Trusted_Process",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_Table_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ORIGIN_RAW_TRUSTED_PDF",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"table_names": {
							"value": "@activity('Lookup_Table_Names').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "pablo_foglia/AdventureWorks"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-15T19:21:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}