pipeline/pl_AdventureWorks_var.json
{
	"name": "pl_AdventureWorks_var",
	"properties": {
		"activities": [
			{
				"name": "ForEach 1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('TABLE_NAME')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_tablas_raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AdventureWorksJuli",
									"type": "DatasetReference",
									"parameters": {
										"nombretabla": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AdventureWorks_csv_juli",
									"type": "DatasetReference",
									"parameters": {
										"nombrearchivo": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "RAW_TO_TRUSTED",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/cohenjulian1@gmail.com/AdventureWorks/Raw to Trusted Adventure Works (CON LIMPIEZA)"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksJulian",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"TABLE_NAME": {
				"type": "Array",
				"defaultValue": [
					"Product",
					"ProductCategory",
					"ProductModel",
					"ProductModelProductDescription",
					"ProductDescription",
					"SalesOrderDetail",
					"SalesOrderHeader",
					"Address",
					"Customer",
					"CustomerAddres"
				]
			}
		},
		"folder": {
			"name": "juliancohen"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-16T00:44:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}