pipeline/pl_AdventureWorks_ernesto.json
{
	"name": "pl_AdventureWorks_ernesto",
	"properties": {
		"activities": [
			{
				"name": "IterateSQLTables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copydata",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable_ernesto",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AW_csv",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@concat(pipeline().parameters.folder_name, utcNow('dd-MM-yy'))",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().TABLE_NAME, '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Iterate_Raw_to_trusted",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "IterateSQLTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Raw_to_trustedAW",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/edavogusttop@gmail.com/AdventureWorks/raw_to_trustedAW",
								"baseParameters": {
									"file_name": {
										"value": "@item().TABLE_NAME",
										"type": "Expression"
									},
									"folder_name": {
										"value": "@pipeline().parameters.folder_name",
										"type": "Expression"
									},
									"date": {
										"value": "@utcNow('dd-MM-yy')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks_ernestodavogustto",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableList": {
				"type": "array"
			},
			"container": {
				"type": "string",
				"defaultValue": "ernestodavogustto"
			},
			"folder_name": {
				"type": "string",
				"defaultValue": "AdventureWorks/raw_data/"
			}
		},
		"folder": {
			"name": "ernestodavogustto/Ingesta_AdventureWorks"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-16T14:44:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}