pipeline/TAREA_AdventureWorks.json
{
	"name": "TAREA_AdventureWorks",
	"properties": {
		"activities": [
			{
				"name": "raw_trusted_AdventureWorks",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy_SQL_to_csv_AdventureWorks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "raw_trusted_AdventureWorks",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"lista_tablas": {
							"value": "@activity('getTableNames').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "getTableNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES\nWHERE TABLE_SCHEMA = 'SalesLT'\nAND TABLE_TYPE = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_ADVENTUREWORKS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy_SQL_to_csv_AdventureWorks",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "getTableNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Copy_SQL_to_csv_AdventureWorks",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"lista_tablas": {
							"value": "@activity('getTableNames').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "JuanCaceffo/AdventureWorks"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-16T18:16:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}