adf-formacion-analitica/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-formacion-analitica"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Data Factory 2 - FAIL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Itera tablas",
						"description": "Copiar tablas de AdventureWorks a csv",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('plTables')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Schema",
									"description": "Si item es igual a 'ErrorLog', 'characters', 'propamba' o 'BuildVersion' el schema es dbo, sino SalesLT\n",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(['ErrorLog', 'characters', 'propamba', 'BuildVersion'], item())",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Copy SalesLT Tables",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsAdvWorks_DB_Origin_jg",
														"type": "DatasetReference",
														"parameters": {
															"Schema": "SalesLT",
															"Table": {
																"value": "@item()",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsSaveAsCsvWithDate_jg",
														"type": "DatasetReference",
														"parameters": {
															"dsContainer": {
																"value": "@pipeline().parameters.plContainer",
																"type": "Expression"
															},
															"dsFolder": {
																"value": "@pipeline().parameters.plFolder",
																"type": "Expression"
															},
															"dsFile": {
																"value": "@item()",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy dbo Tables",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dsAdvWorks_DB_Origin_jg",
														"type": "DatasetReference",
														"parameters": {
															"Schema": "dbo",
															"Table": {
																"value": "@item()",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dsSaveAsCsvWithDate_jg",
														"type": "DatasetReference",
														"parameters": {
															"dsContainer": {
																"value": "@pipeline().parameters.plContainer",
																"type": "Expression"
															},
															"dsFolder": {
																"value": "@pipeline().parameters.plFolder",
																"type": "Expression"
															},
															"dsFile": {
																"value": "@item()",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"plContainer": {
						"type": "string",
						"defaultValue": "jgerstner"
					},
					"plFolder": {
						"type": "string",
						"defaultValue": "DataFactoryTarea/rawdata"
					}
				},
				"variables": {
					"plTables": {
						"type": "Array",
						"defaultValue": [
							"characters",
							"propamba",
							"Customer",
							"ProductModel",
							"ProductDescription",
							"Product",
							"ProductModelProductDescription",
							"ProductCategory",
							"BuildVersion",
							"ErrorLog",
							"Address",
							"CustomerAddress",
							"SalesOrderDetail",
							"SalesOrderHeader"
						]
					}
				},
				"folder": {
					"name": "josegerstner"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-13T18:53:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Data Factory 2 - Tarea')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Itero tablas dbo",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('plTablesDBO')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copio Tablas dbo",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "dsAdvWorks_DB_Origin_jg",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "dbo",
												"Table": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsSaveAsCsvWithDate_jg",
											"type": "DatasetReference",
											"parameters": {
												"dsContainer": "jgerstner",
												"dsFolder": "DataFactoryTarea/rawdata",
												"dsFile": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Itero tablas SalesTL",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Itero tablas dbo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('plTablesTL')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copio tablas SalesTL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "dsAdvWorks_DB_Origin_jg",
											"type": "DatasetReference",
											"parameters": {
												"Schema": "SalesLT",
												"Table": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dsSaveAsCsvWithDate_jg",
											"type": "DatasetReference",
											"parameters": {
												"dsContainer": "jgerstner",
												"dsFolder": "DataFactoryTarea/rawdata",
												"dsFile": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"plTablesDBO": {
						"type": "Array",
						"defaultValue": [
							"characters",
							"propamba",
							"BuildVersion",
							"ErrorLog"
						]
					},
					"plTablesTL": {
						"type": "Array",
						"defaultValue": [
							"Customer",
							"ProductModel",
							"ProductDescription",
							"Product",
							"ProductModelProductDescription",
							"ProductCategory",
							"Address",
							"CustomerAddres",
							"SalesOrderDetail",
							"SalesOrderHeader"
						]
					}
				},
				"folder": {
					"name": "josegerstner"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-15T13:11:03Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExtraccionSQL-CSV_JuanMaidana')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copia_datos",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": {
													"value": "@item().TABLE_SCHEMA",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTable_JuanMaidana",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AdventureWorks_JuanMaidana",
											"type": "DatasetReference",
											"parameters": {
												"DWTableName": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												},
												"DWSchema": {
													"value": "@item().TABLE_SCHEMA",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"tableList": {
						"type": "array"
					}
				},
				"folder": {
					"name": "juan_maidana/AdventureWorks"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-14T22:18:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ORIGIN_RAW_TRUSTED_PDF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_Origin_Raw",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.table_names",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "CD_SALESLT",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Dataset_AdvWorks_PDF",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Dataset_RAW_to_CSV_PDF",
											"type": "DatasetReference",
											"parameters": {
												"CONTAINER": {
													"value": "@pipeline().parameters.output_container",
													"type": "Expression"
												},
												"FOLDER": {
													"value": "@concat(pipeline().parameters.folder_name_raw,'/',pipeline().parameters.proyect,'/',utcNow('yyyy'),'/',item().TABLE_NAME)",
													"type": "Expression"
												},
												"FILE": {
													"value": "@concat(item().TABLE_NAME,'_',utcNow('dd-MM-yyyy'),'.csv')\n",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "ForEach_raw_trusted",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ForEach_Origin_Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.table_names",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "RAW_TO_TRUSTED_DBricks",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/madescoces@gmail.com/adventureworks/raw_trusted_2023",
										"baseParameters": {
											"file_name": {
												"value": "@item().TABLE_NAME",
												"type": "Expression"
											},
											"year": {
												"value": "@utcNow('yyyy')",
												"type": "Expression"
											},
											"folder_raw": {
												"value": "@pipeline().parameters.folder_name_raw",
												"type": "Expression"
											},
											"folder_trusted": {
												"value": "@pipeline().parameters.folder_name_trusted",
												"type": "Expression"
											},
											"datalake": {
												"value": "@pipeline().parameters.datalake",
												"type": "Expression"
											},
											"proyect": {
												"value": "@pipeline().parameters.proyect",
												"type": "Expression"
											},
											"container": {
												"value": "@pipeline().parameters.output_container",
												"type": "Expression"
											},
											"separator": {
												"value": "@pipeline().parameters.separator",
												"type": "Expression"
											},
											"date": {
												"value": "@utcNow('dd-MM-yyyy')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "adventure_works_raw_trusted",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Launch_Refined",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ForEach_raw_trusted",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRUSTED_TO_REFINED_PDF",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"table_names": {
									"value": "@pipeline().parameters.table_names",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"output_container": {
						"type": "string",
						"defaultValue": "pablofoglia"
					},
					"folder_name_raw": {
						"type": "string",
						"defaultValue": "raw_data"
					},
					"folder_name_trusted": {
						"type": "string",
						"defaultValue": "trusted_data"
					},
					"datalake": {
						"type": "string",
						"defaultValue": "datalakeformacion1"
					},
					"proyect": {
						"type": "string",
						"defaultValue": "advworks"
					},
					"separator": {
						"type": "string",
						"defaultValue": "|"
					},
					"table_names": {
						"type": "array"
					}
				},
				"folder": {
					"name": "pablo_foglia/AdventureWorks"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-16T00:37:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adventureWorks_pasaje')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@createArray('Product','ProductCategory','ProductModel','ProductModelProductDescription','SalesOrderDetail','CustomerAddress','Address','SalesOrderHeader','Customer')",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTableMelina",
											"type": "DatasetReference",
											"parameters": {
												"schemaname": "SalesLT",
												"tablename": {
													"value": "@item()",
													"type": "Expression"
												},
												"databasename": "AdventureWorks"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "salida_csv_adventure_works_melina",
											"type": "DatasetReference",
											"parameters": {
												"container": "melinayanguas",
												"carpeta": "adventureWorks/rawdata",
												"archivo": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"lista_archivos": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "melina-yanguas"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-15T00:52:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adventureWorks_pasaje2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@createArray('Product','ProductCategory','ProductModel','ProductModelProductDescription','SalesOrderDetail','CustomerAddress','Address','SalesOrderHeader','Customer')",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTableMelina",
											"type": "DatasetReference",
											"parameters": {
												"schemaname": "SalesLT",
												"tablename": {
													"value": "@item()",
													"type": "Expression"
												},
												"databasename": "AdventureWorks"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "salida_csv_adventure_works_melina",
											"type": "DatasetReference",
											"parameters": {
												"container": "melinayanguas",
												"carpeta": "adventureWorks/rawdata",
												"archivo": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"lista_archivos": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "melina-yanguas"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-15T03:05:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adventureworks_mariasol')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('list_files')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "adventureworks_mariasol",
											"type": "DatasetReference",
											"parameters": {
												"nombre": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "adventureworkscsv_mariasol",
											"type": "DatasetReference",
											"parameters": {
												"nombrecsv": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Notebook1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/solm97@hotmail.com/Conexión al datalake",
										"baseParameters": {
											"file_name": {
												"value": "@concat(item(),'_', utcnow('dd-MM-yyyy'))",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks_mariasolserritelli",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"list_files": {
						"type": "Array",
						"defaultValue": [
							"Product",
							"ProductCategory",
							"ProductModel",
							"ProductModelProductDescription",
							"ProductDescription",
							"SalesOrderDetail",
							"SalesOrderHeader",
							"Address",
							"Customer",
							"CustomerAddress"
						]
					}
				},
				"folder": {
					"name": "maria_sol_serritelli"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-15T04:24:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cargas_sitios')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Cargas",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cargas",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Cargas_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Clase parametrizacion"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-09T13:52:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cargas_sitios_2023')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cargas",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cargas_nico",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "parquet_nico",
								"type": "DatasetReference",
								"parameters": {
									"contenedor": {
										"value": "@pipeline().parameters.contenedor",
										"type": "Expression"
									},
									"carpeta": {
										"value": "@pipeline().parameters.carpeta_parquet",
										"type": "Expression"
									},
									"archivo": "cargas_2023"
								}
							}
						]
					},
					{
						"name": "sitios",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sitios_nico",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "parquet_nico",
								"type": "DatasetReference",
								"parameters": {
									"contenedor": {
										"value": "@pipeline().parameters.contenedor",
										"type": "Expression"
									},
									"carpeta": {
										"value": "@pipeline().parameters.carpeta_parquet",
										"type": "Expression"
									},
									"archivo": "sitios_2023"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"contenedor": {
						"type": "string",
						"defaultValue": "nicolasfernandez"
					},
					"carpeta_csv": {
						"type": "string",
						"defaultValue": "DataFactory/files_csv"
					},
					"carpeta_parquet": {
						"type": "string",
						"defaultValue": "DataFactory/files_parquet"
					}
				},
				"folder": {
					"name": "nicolas_fernandez/parametrizacion_pipe"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-14T02:21:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/clase_parametrizacion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cargas",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "carga_parametrizacion_jg",
								"type": "DatasetReference",
								"parameters": {
									"contenedor": {
										"value": "@pipeline().parameters.contenedor",
										"type": "Expression"
									},
									"carpeta": {
										"value": "@pipeline().parameters.carpeta",
										"type": "Expression"
									},
									"archivo": "cargas_2023.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "parquet_parametrizacion_jg",
								"type": "DatasetReference",
								"parameters": {
									"contenedor": {
										"value": "@pipeline().parameters.contenedor",
										"type": "Expression"
									},
									"carpeta": {
										"value": "@pipeline().parameters.carpeta_parquet",
										"type": "Expression"
									},
									"archivo": "cargas"
								}
							}
						]
					},
					{
						"name": "sitios",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "carga_parametrizacion_jg",
								"type": "DatasetReference",
								"parameters": {
									"contenedor": {
										"value": "@pipeline().parameters.contenedor",
										"type": "Expression"
									},
									"carpeta": {
										"value": "@pipeline().parameters.carpeta",
										"type": "Expression"
									},
									"archivo": "sitios_2023.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "parquet_parametrizacion_jg",
								"type": "DatasetReference",
								"parameters": {
									"contenedor": {
										"value": "@pipeline().parameters.contenedor",
										"type": "Expression"
									},
									"carpeta": {
										"value": "@pipeline().parameters.carpeta_parquet",
										"type": "Expression"
									},
									"archivo": "sitios"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"contenedor": {
						"type": "string",
						"defaultValue": "jgerstner"
					},
					"carpeta": {
						"type": "string",
						"defaultValue": "clase_parametrizacion/files_csv"
					},
					"carpeta_parquet": {
						"type": "string",
						"defaultValue": "clase_parametrizacion/files_parquet"
					}
				},
				"folder": {
					"name": "josegerstner"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-10T16:18:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/clase_parametrizaciones')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Se copiaran por parametro dos archivos distintos del datallake a otra carpeta.",
				"activities": [
					{
						"name": "Cargas",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "file_csv_foglia",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.cta_almacenamiento",
										"type": "Expression"
									},
									"folder": {
										"value": "@pipeline().parameters.folder_name_csv",
										"type": "Expression"
									},
									"file": "cargas_2023.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "parquet",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.cta_almacenamiento",
										"type": "Expression"
									},
									"folder": {
										"value": "@pipeline().parameters.folder_name_csv",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.folder_name_parquet",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Sitios",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "file_csv_foglia",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.cta_almacenamiento",
										"type": "Expression"
									},
									"folder": {
										"value": "@pipeline().parameters.folder_name_csv",
										"type": "Expression"
									},
									"file": "sitios_2023.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "parquet",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.cta_almacenamiento",
										"type": "Expression"
									},
									"folder": {
										"value": "@pipeline().parameters.folder_name_parquet",
										"type": "Expression"
									},
									"file": {
										"value": "@pipeline().parameters.folder_name_parquet",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cta_almacenamiento": {
						"type": "string",
						"defaultValue": "pablofoglia"
					},
					"folder_name_csv": {
						"type": "string",
						"defaultValue": "parametrizacion/files_csv"
					},
					"folder_name_parquet": {
						"type": "string",
						"defaultValue": "parametrizacion/files_parquet"
					}
				},
				"folder": {
					"name": "pablo_foglia"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-10T15:13:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyTAREA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_movies_csv",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "origen_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "salida_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "JuanCaceffo"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-10T18:47:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_entrada_nicolas_fernandez')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "csv_entrada_nicolas_fernandez",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "csv_salida_nicolas_fernandez",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "nicolas_fernandez"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-10T04:45:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/demo_1_sql_database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pasaje de SQL Database a Datalake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sql_1_entrada_demo_1",
								"type": "DatasetReference",
								"parameters": {
									"table_name": {
										"value": "characters",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "csv_1_salida_demo_1",
								"type": "DatasetReference",
								"parameters": {
									"file_name": "characters"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"lista_archivos": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "demo/SQL Database"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-12T16:20:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/demo_5_Datalake_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Unifica parquet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "silver_data",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "pqt_1_entrada",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "pqt_salida",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "demo/Data Lake"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-12T16:09:00Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/demo_6_metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "csv_1_salida_demo_1",
								"type": "DatasetReference",
								"parameters": {
									"file_name": "characters"
								}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "demo/Metadata"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-12T15:53:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/demo_8_metadata_sql_db')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata CSV",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "csv_1_salida_demo_1",
								"type": "DatasetReference",
								"parameters": {
									"file_name": "characters"
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Metadata CSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "cant_columnas",
							"value": {
								"value": "@string(activity('Get Metadata CSV').output)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Get Metadata CSV').output,'true' )",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Notebook1",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Shared/Demo- ADF: Lee parquet unifcado"
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks_demo",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"cant_columnas": {
						"type": "String"
					},
					"resultado": {
						"type": "Boolean"
					},
					"result": {
						"type": "Boolean"
					}
				},
				"folder": {
					"name": "Metadata"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-12T16:16:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/get_metadata_sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "AzureSqlTableMelina",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": "SalesLT",
									"tablename": "Product",
									"databasename": "AdventureWorks"
								}
							},
							"fieldList": [
								"structure"
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "melina-yanguas"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-16T05:07:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/metadata_prueba')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "file_csv_melina",
								"type": "DatasetReference",
								"parameters": {
									"contenedor": "melinayanguas",
									"carpeta": "adventureWorks/rawdata",
									"archivo": "Product.csv"
								}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "melina-yanguas"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-16T04:58:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/parametricacion_JUANCA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sitios",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "file_csv_JuanCaceffo",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.cta_storage",
										"type": "Expression"
									},
									"folder": {
										"value": "@pipeline().parameters.folder_name_csv",
										"type": "Expression"
									},
									"file": "sitios_2023.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "paruqet_juanca",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.cta_storage",
										"type": "Expression"
									},
									"folder": {
										"value": "@pipeline().parameters.folder_name_parquet",
										"type": "Expression"
									},
									"file": "sitios"
								}
							}
						]
					},
					{
						"name": "cargas",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "file_csv_JuanCaceffo",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.cta_storage",
										"type": "Expression"
									},
									"folder": {
										"value": "@pipeline().parameters.folder_name_csv",
										"type": "Expression"
									},
									"file": "cargas_2023.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "paruqet_juanca",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.cta_storage",
										"type": "Expression"
									},
									"folder": {
										"value": "@pipeline().parameters.folder_name_parquet",
										"type": "Expression"
									},
									"file": "cargas_2023"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cta_storage": {
						"type": "string",
						"defaultValue": "juancaceffo"
					},
					"folder_name_csv": {
						"type": "string",
						"defaultValue": "ADF_parametrizacion/entrada_ADF"
					},
					"folder_name_parquet": {
						"type": "string",
						"defaultValue": "ADF_parametrizacion/salida_ADF"
					}
				},
				"folder": {
					"name": "JuanCaceffo"
				},
				"annotations": [],
				"lastPublishTime": "2023-05-10T18:16:52Z"
			},
			"dependsOn": []
		}
	]
}